.section {
  max-width: 450px;
  margin-bottom: 1rem;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section-title {
  font-weight: bolder;
  margin-bottom: 8px;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.bg-primary {
  background-color: #007bff !important;
}
.p-words {
  word-wrap: break-word;
  word-break: break-all;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}